@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
}
.mainContainer{
    margin: auto;
    height: 100%;
    background-color: aquamarine;
}
.searchBarContainer{
    height: 10vh;
    width: auto;
    display: flex;
    background-color: brown;
    position:relative;
    /* box-sizing: content-box; */
    /* padding: 10px; */
}
.searchAndBtnsContainer{
    width: auto;
    /* position:absolute; */
    top:0;
    bottom:0;
    display: flex;
    margin: 0px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    width: 100%;
    /* box-sizing: content-box; */
    /* height: auto; */
}
.secondContainer{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    /* position:relative; */
}
.firstRow, .secondRow{
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    width: 50%;
}
.firstRow{
    background-color: rgb(238, 191, 130);
    padding: 10px;
    height: 86vh;
    overflow-y: auto;
    scrollbar-width: none;
    
    
    box-sizing: border-box;
    
    height:90vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 20%; */
    position:relative;
    
}
.firstRow::-webkit-scrollbar {
    display: none;
}
.secondRow{
    height:90vh;
    box-sizing: border-box;
    background-color: rgb(153, 235, 112);
    /* border: 5px solid  rgb(204, 42, 42); */
    margin: auto;
    width: auto;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    /* width: 20%; */
    position:relative;
    padding: 10px;
    
}
.Carta{
    /* height: auto; */
    background-color: rgb(161, 161, 238);
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    /* position:absolute;
    top:0;
    bottom:0; */
    /* box-sizing:  border-box; */
}
.cartaContainer{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    margin: 0px auto;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.cardImg{
    height: 150px;
}
/* .soloPkmInfo{
    background-color: aliceblue;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid  rgb(204, 42, 42);
} */
.pkmCenter{ 
    margin: auto;
    /* padding: 20px ; */
    height: auto; 
    background-color: rgb(75, 246, 13);
}
.cardPkm{
    border: 5px solid  black;
    margin: 5px;
    padding: 5px;
    width: 300px;
    display: flex;
    box-shadow: 1px 1px 1px  white;
    /* margin: auto; */
    align-items: center;
    justify-content: center;
    text-align: left;
    
    background-color: antiquewhite;
}
.cardPkm:hover{
    cursor: pointer;
}
.pkmTitle{
    background-color: rgb(200, 196, 196);
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .secondContainer, .firstRow{
        display: block;
        width: 100%; 
    }
}
@media screen and (max-width: 800px) {
    .Carta, .secondRow{
        height: auto;
        
    }
}
@media screen and (max-width: 800px) {
    .pkmCenter,.firstRow, .cardPkm{
        height: 100%;
        overflow-y: scroll;
        padding: 5px;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 5px auto;
        border: 2px solid black;
    }
}
