@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
}
.mainContainer{
    margin: auto;
    height: 100%;
    background-color: aquamarine;
}
.searchBarContainer{
    height: 10vh;
    width: auto;
    display: flex;
    background-color: brown;
    position:relative;
}
.searchAndBtnsContainer{
    width: auto;
    top:0;
    bottom:0;
    display: flex;
    margin: 0px auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
    width: 100%;
}
.secondContainer{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;

}
.firstRow, .secondRow{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.firstRow{
    background-color: rgb(238, 191, 130);
    padding: 10px;
    height: 86vh;
    overflow-y: auto;
    scrollbar-width: none;
    box-sizing: border-box;
    height:90vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:relative;
    
}
.firstRow::-webkit-scrollbar {
    display: none;
}
.secondRow{
    height:90vh;
    box-sizing: border-box;
    margin: auto;
    width: auto;
    position:relative;
    padding: 10px;
    
}
.Carta{
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
}
.cartaContainer{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    margin: 0px auto;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.cardImg{
    height: 150px;
    margin: -5px auto;
}
.pkmCenter{ 
    margin: auto;
    /* padding: 20px ; */
    height: auto; 
    background-color: rgb(75, 246, 13);
}
.cardPkm{
    border: 2px solid  black;
    margin: 5px;
    padding: 5px;
    width: 300px;
    display: flex;
    box-shadow: 1px 1px 1px  white;
    /* margin: auto; */
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: antiquewhite;
}
.cardPkm:hover{
    cursor: pointer;
    zoom: 1.1 ;
    background-color: aquamarine;
}
.pkmTitle{
    background-color: rgb(200, 196, 196);
    border-radius: 10px;
    text-align: center;
}
.statistics{
    display: inline-block;
    flex-flow: row wrap;

}

    @media screen and (max-width: 800px) {
    .secondContainer, .firstRow{
        display: block;
        width: 100%; 
    }
    .Carta, .secondRow,.cartaContainer{
        height: auto;
        padding: 5px;
        
    }
    .pkmCenter,.firstRow, .cardPkm{
        height: 100%;
        padding: 5px;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 5px auto;
        border: 2px solid black;
    }
    .cardPkm{
        width: auto;
        height: auto;
        /* overflow-y: scroll; */
        padding: 5px;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 5px auto;
        /* border: 2px solid black; */
    }
    .searchBar{
        width: 150px;
        height: 20px;
        margin: 2px auto;
        /* display: flex; */
    }
    .paginationBtns{
        height: 20px;
        width: 110px;
        text-align: center;
        justify-content: center;
        display: flex;    
        padding: 2px;
        margin: 0px auto;
        margin-top: 20px;
        background-color: rgb(173, 153, 153);
    }
    #inputGroup-sizing-default{
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 1px auto;
        padding: 2px;
        display: flex;
        word-break: normal;
    }
    .mb-3{
        flex-flow: column wrap;
        margin: 2px auto;
    }
    .searchBarContainer{
        overflow-x: hidden;
    }
    .searchAndBtnsContainer{
        display: flex;
        padding: 2px;
    }
}


